/*css Aqui*/
body,
html{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #000;	
}
header{
	background: #1F1F1F;
	padding: 1%;
	color: #fff;
}
header h1{
	float: left;
	margin-right: 25%;
}
.input-group{
	width: 50%;
	float: left;
}
#toggle {
	text-align: right;
  float: right;
}
/*contenido*/
section{
	padding: 5% 0%;
}
img{
	width:100%;
}
i{
	float: right;
	color: #ccc;
}
.clock {
	margin-right: 10px;
}
footer{
	background-color: #1F1F1F;
	padding: 1%;
	bottom: 0px;
	color: #fff;
	text-align: center;
}

.cafeterias {
	list-style: none;
}

.cafeteria {
	width: 30%;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}